---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<h2>Upcoming</h2>
{% assign upcoming_talks = site.talks | where_exp: "talk", "post.date > site.time" %}
{% if upcoming_talks.size > 0 %}
  {% for talk in upcoming_talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  <p>No upcoming talks at the moment.</p>
{% endif %}

<h2>Past</h2>
{% assign past_talks = site.talks | where_exp: "talk", "post.date <= site.time" | sort: "date" | reverse %}
{% for talk in past_talks %}
  {% include archive-single-talk.html %}
{% endfor %}
