<!-- LinkedIn banner include -->
<div class="site-banner">
  <div class="site-banner__inner">
    <h2>Latest LinkedIn Posts</h2>
    <div class="site-banner__items">
      {% assign linkedin_posts = site.data.linkedin_posts | slice: 0, 2 %}
      {% for post in linkedin_posts %}
      <div class="linkedin-post" style="--aspect-ratio: {{ post.ratio }}%;">
        <iframe
          class="linkedin-embed"
          src="{{ post.url }}"
          width="100%"
          frameborder="0"
          allowfullscreen=""
          title="LinkedIn Post"
          loading="lazy"
        ></iframe>
      </div>
      {% endfor %}
    </div>
  </div>
</div>